td,th{
 min-width:30vh;
 border : 1px solid black;
 padding: 12px;
}

/* #checkbox{
    min-width:30px;
    padding  : 0px 30px
}
.Country-code{
    min-width: 20vh;
    /* padding: 10px; */
*/
#display-data tr {
    margin-top: 5px;
    margin-left: 20px !important; 
    /* margin-right: 10px; */
}
.pagination {
    display: flex;
    margin-top: 30px;
    margin-left: 600px;
    width: 100px;

}

.page-items {
    border: 1px solid black;
    padding: 10px;
}
#logo{
    margin-top: 1%;
    height: 5%;
    width: 10%;
}
#header{
    background-color: rgb(156, 203, 206);
}
#search-bar{
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 1%;
}
#search-country{
    margin-left: 46%;
}
#dropdown{
    border: 1px solid black;
}
#search-text{
border: 1px solid black;
}


#code{
    min-width: 165px;
}
.result {
    border: 1px solid rgb(195, 189, 189);
    margin: 0px 40px;
}

#headers {
    border: 1px solid black;
    margin: 0px 40px;
}

 ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #333;
        }

        li {
            display: inline;
            margin-right: 20px;
        }

        .navItem {
            text-decoration: none;
            color: white;
        }

        .navItem:hover {
            text-decoration: underline;
        }
                